DB_KEY = 'abc:123'

CON_STRING = ""



CODE_SQL = ""

ALL_SQL = ""

TABLE_NAME = ""

KEY_COLUMN = ""

CAPS_GS_SEM_RECIPIENTS = ""
BCC = ""

WSDL = ""
AUTH = {'username': '', 'password': ''}
SITE_ID = ''
STAGING_DESTINATION_ID = ''

PUBLISHSET_ID = ''

secret_key = ""
SECRET_KEY = ""

XML_URL = ''

RECIPIENTS = ['']

RAVEN_URL = ''
