body {
    padding: 0;
}

.banner {
	background-color: #0f2c52;
	padding: .7em 1em;
    margin-bottom: 1em;
}

.btn {
    background-color: #0069AA;
    color: white;
    margin-bottom: 5px
}

.btn:hover {
    text-decoration: underline!important;
    cursor: pointer;
}

img.logo {
	width: 235px;
    height: 38px;
}