{# Codes that are in Cascade, but have no data from Banner #}
{% if missing_data_codes %}
    <h2>Missing Data in Banner</h2>
    <p>An email containing these same codes have been sent to {{ caps_gs_sem_recipients }} <br>
    These codes exist in Cascade, but there is no data in Banner for them.</p>
    <ul>
        {% for code in missing_data_codes %}
            <li>{{ code }}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Codes we got data from Banner, but code doesn't exist in Cascade #}
{% if unused_banner_codes %}
    <h2>Unused Banner Codes</h2>
    <p>These are codes exist in Banner, but they are not being used by Cascade currently. Either fix the issue, or tell Web Development to ignore the code.</p>
    <ul>
        {% for code in unused_banner_codes %}
            <li>{{ code }}</li>
        {% endfor %}
    </ul>
{% endif %}
