<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CMS sync page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            var baseURL = "";//https://programs.bethel.edu/

            function sync_all(timeInterval, send_email){
                if(timeInterval === ""){
                    timeInterval = "0.25";
                }
                var url = baseURL + "sync-all/"+timeInterval;
                if(send_email == true){
                    url += "/send"
                }
                window.open(url,'_blank');
            }

            function sync_one_id(id){
                var url = baseURL + "sync-one-id/"+id;
                $.ajax(url, {
                    success: output
                });
            }

            function sync_one_path(path){
                var url = baseURL + "sync-one-path/"+path;
                $.ajax(url, {
                    success: output
                });
            }

            function output(response){
                document.getElementById('output').innerHTML = response;
            }
        </script>
    </head>
    <body>
        <form>
            <label for="secToWait">Number of seconds to wait between each sync:</label><input type="text" id="secToWait" size="4"/><br/>
            <input type="button" value="Sync all blocks, don't send email" onclick="sync_all(document.getElementById('secToWait').value, false)">
            <input type="button" value="Sync all blocks, then send email" onclick="sync_all(document.getElementById('secToWait').value, true)"><br/><br/>
            <label for="idToSync">ID or path of the block you want to sync right now:</label><input type="text" id="oneSync" size="40"/><br/>
            <input type="button" value="Sync one block by id" onclick="sync_one_id(document.getElementById('oneSync').value)"/>
            <input type="button" value="Sync one block by path" onclick="sync_one_path(document.getElementById('oneSync').value)"/>
        </form><br/><br/>
        <div id="output"></div>
        <script>
            var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
            if(!is_chrome){
                document.getElementById('output').innerHTML = "If you want to stream the live results of the all-sync, please use Chrome";
            }
        </script>
    </body>
</html>