<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cloud.typography.com/6664852/692222/css/fonts.css">
    <head>
        <meta charset="UTF-8">
        <title>CMS sync page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'assets/css/programs.css') }}">
        <link href="{{ url_for('static', filename = 'assets/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'assets/css/bootstrap/bootstrap-reboot.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'assets/css/bootstrap/bootstrap-grid.min.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            var baseURL = "";//https://programs.bethel.edu/

            function sync_all(timeInterval){
                var send_email = $('#email_checkbox').is(":checked");

                if(timeInterval === ""){
                    timeInterval = "1";
                }
                var url = baseURL + "sync-all/"+timeInterval;
                if(send_email == true){
                    url += "/send"
                }
                window.open(url,'_blank');
            }

            function sync_one_id(id){
                var url = baseURL + "sync-one-id/"+id;
                $.ajax(url, {
                    success: output
                });
            }

            function sync_one_path(path){
                // remove all leading slashes.
                while( path[0] == '/' ){
                    path = path.substring(1);
                }

                var url = baseURL + "sync-one-path/"+path;
                $.ajax(url, {
                    success: output
                });
            }

            function output(response){
                document.getElementById('output').innerHTML = response;
            }
        </script>
    </head>
    <body>
        <section class="banner">
            <img class="logo" src="{{ url_for('static', filename = 'assets/img/logo-cmssync.png') }}">
        </section>
        <form>
            <div class="container">
                <div class="form-group row">
                    <label for="secToWait" class="col-6 col-form-label">Number of seconds to wait between each sync:</label>
                    <div class="col-6">
                        <input type="text" class="form-control" id="secToWait" value="1"/>
                    </div>
                </div>
                <div class="form-check" style="margin-bottom:15px">
                    <label class="form-check-label">
                        <input id="email_checkbox" type="checkbox" class="form-check-input checkbox" value="">Send email
                    </label>
                </div>
                <input type="button" class="btn" value="Sync all blocks" onclick="sync_all(document.getElementById('secToWait').value)">
                <hr>
                <p style="margin-top:10px">If you choose to sync just one block, it will not appear in the feeds until the "Sync all blocks" happens, which runs every morning.</p>
                <div class="form-group row">
                    <label for="idToSync" class="col-6 col-form-label">ID or path of the block you want to sync right now:</label>
                    <div class="col-6">
                        <input type="text" class="form-control" id="oneSync" size="40"/>
                    </div>
                </div>
                    <input type="button" class="btn" value="Sync one block by id" onclick="sync_one_id(document.getElementById('oneSync').value)"/>
                    <input type="button" class="btn" value="Sync one block by path" onclick="sync_one_path(document.getElementById('oneSync').value)"/>
            </div>
        </form>
        <br/><br/>
        <div id="output"></div>
    </body>
</html>